<%  include ./split/header.ejs%>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello Client,

            </h1>
            <p class="lead">This Username is already Registered ! Enter Unique Username</p>
            <hr class="my-4">

            <p>Thanks you for visit.</p>

            <a class="btn btn-warning" href="/goback" role="button">Go home page</a>

        </div>


        <hr><br>





        <%  include ./split/footer.ejs%>